body{
background-image: url('pig.jpg');
background-size:cover;
text-align:justify;
}

p{
background-color:white;
font-weight:bold;
}

p.a{
background-color:red;
font-weight:bold;
}

p.b{
background-color:yellow;
font-style:italic;
}