body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 10px;
    line-height: 1.5;
}

header
{
background: white;
color: black;
text-align: center;
}

nav
{
display: flex;
justify-content: center;
background: #3e4042
}

nav ul
{
margin: 0;
padding: 0;
list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  display: block;
  padding: 8px 12px;
  background: #060606;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

nav ul li a:hover {
  background: #777;
}

.content {
  padding: 20px;
  text-align: center;
}

.content-frame {
  width: 100%;
  height: 480px;   
  border: none;
  text-align: left;
}


/* =========================
   Mobile (≤ 414px * 896px)
   ========================= */
@media (max-width: 414px) {
  body {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column; 
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}

/* =========================
   Tablet (820px * 1180px)
   ========================= */
@media (max-width: 820px) {
  body {
    font-size: 14px;
  }

  nav ul {
    flex-direction: row; 
  }
}

/* =========================
   Desktop (≥ 1536px * 864px)
   ========================= */
@media (min-width: 769px) and  (min-height: 864px) {
  body {
    font-size: 16px;
    max-width: 1500px;
    margin: auto;
  }

  .content {
    text-align: left;
  }
}

/* Hide checkbox input */
#menu-toggle {
  display: none;
}

/* Hamburger icon style */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #333;
}

/* Responsive: when screen smaller than 900px (half screen or tablet) */
@media (max-width: 900px) {
  /* Show hamburger icon */
  .menu-icon {
    display: block;
  }

  /* Hide normal menu initially */
  nav ul {
    flex-direction: column;
    background: #333;
    width: 100%;
    max-height: 0; /* hide menu */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  /* Show menu with smooth slide-down */
  #menu-toggle:checked + nav ul {
    max-height: 500px; /* adjust based on menu height */
  }

  nav ul li {
    border-top: 1px solid #faf9f9;
    margin: 0;
  }

  nav ul li a {
    border-radius: 0;
    text-align: center;
    background: #060606;
  }

  nav ul li a:hover {
    background: #090909;

  }
}

/* Hero content */
.hero {
  padding: 30px;
  text-align: center;
}