body,img{
background-color: #f2f2f2;
font-family: Arial, sans-serif;
margin: 10px;
line-height: 1.5;
height: 100%;
width: 100%;
height: 100%;
object-fit: cover;
}
.left
{
width:300px; 
float:right; 
margin-left:1px;
}
p
{
font-size: 16px;
text-align: justify;
}

h2
{

text-decoration: underline;
}
ul
{
color: red;
}
