body
{
margin: 0;
font-family: Arial, sans-serif;
}

header
{
background: white;
color: black;
text-align: center;
padding: 1px;
}

nav
{
display: flex;
justify-content: center;
background: #333
}

nav ul
{

margin: 0;
padding: 0;
list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  display: block;
  padding: 8px 12px;
  background: #555;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

nav ul li a:hover {
  background: #777;
}

.content {
  padding: 20px;
  text-align: center;
}

.content-frame {
  width: 100%;
  height: 480px;   
  border: none;
  text-align: left;
}


/* =========================
   Mobile (≤ 414px * 896px)
   ========================= */
@media (max-width: 414px) {
  body {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column; 
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}

/* =========================
   Tablet (820px * 1180px)
   ========================= */
@media (max-width: 820px) {
  body {
    font-size: 14px;
  }

  nav ul {
    flex-direction: row; 
  }
}

/* =========================
   Desktop (≥ 1536px * 864px)
   ========================= */
@media (min-width: 769px) and  (min-height: 864px) {
  body {
    font-size: 16px;
    max-width: 1500px;
    margin: auto;
  }

  .content {
    text-align: left;
  }
}